*.o
.*.swp
*.py[co]
libs
.gdb_history
#Komodo files
*.kpf

#Qt Creator files
DANE_patrol.config
DANE_patrol.creator
DANE_patrol.creator.user
DANE_patrol.files
DANE_patrol.includes

#generated *xpi
*.xpi

#generated JSAPI sources
TLSAfetcherStructures.h
TLSAfetcherStructures.cpp
TLSAfetcherStructures.js

#generate plugin binary
addon/plugins

tests/unbound-test
tests/resolver-test
tests/certificate-test
tests/dane-test
